.Container{
    width: 100%;
    box-sizing: border-box;
    display:  flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.TopMenu{
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.Navigation{
    display: flex;
    flex-basis: 20%;
    background-color: white;
    height: 100vh;
    box-shadow: 0 0 12px rgb(0 0 0 / 16%);
}
.BodyContents{
    width: 100%;
    box-sizing: border-box;
}

.BodySection{
    width: 100%;
    box-sizing: border-box;
    padding: 30px 15px 30px 50px;
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

.EmptyBodySection{
    width: 100%;
    box-sizing: border-box;
    padding: 30px 15px 30px 50px;
    height: 100vh;
    overflow-y: scroll;
}

@media  Print {
    .BodySection{
        padding: 10px;
    } 
    .BodySection, .EmptyBodySection{
        height: unset;
    }
}